.hero-image{
    background-image: url(../assets/Hero\ Image.jpg);
    backdrop-filter: blur(10px);
    filter: brightness(0.6);
    height: 100vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.logo{
    margin-top: -10px;
}

.headings{
    margin-top: 200px;
}